.chat-message-user{
  display: flex;
  justify-content: end;
  align-items: center;
  
}
  .chat-message-robot{
  display: flex;
  justify-content: start;
  align-items: center;
  
}
.chat-message-text{
  background-color: rgb(239, 238, 238);
  padding: 1rem 1.3rem;
  border-radius: .6rem;
  margin-right: .8rem;
  margin-left: .8rem;
  margin-bottom: .5rem;
  max-width: 300px;
}
.chat-message-profile{
  width: 45px;
}